.div {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.Selects {
    display: flex;
    column-gap: 15px;
    margin: 15px;
    justify-content: center;
}
.Selects select {
    width: 11rem;
    height: 2.4rem;
    border-radius: 0.3rem;
    border-color: rgb(228, 155, 30);
    border-width: 5px;
    font-family: 'Comic Neue', cursive, 'Roboto';
    font-size: 1rem;
}
.Selects button {
    box-shadow: inset 8px 10px 10px 1px rgba(255, 255, 255, 0.22);
    background: rgb(228, 155, 30);
    width: 6rem;
    height: 2.4rem;
    border-radius: 1rem;
    font-family: 'Comic Neue', cursive, 'Roboto';
    font-size: 1rem;
}
.Selects button:hover {
    box-shadow: 5px 5px rgba(0,0,0,0.5);
}